  @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap");
  // @import '~antd/dist/antd.css';


  a {
    color: inherit;
    text-underline-position: none;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }

  * {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
  }

  body {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
  }

  $white: #fff;
  $dark: #000;
  $pink: #c205a3;
  $sub-pink: #E10051;
  $purple: #320035;
  $My-gradient: linear-gradient(87.39deg, #bf00a5 0%, #ff6a6a 100%);
  $danger: #FF0000;
  $grey: #e9ecef;
  $sub-pink: #E10051;

  ::selection {
    background: $pink;
    color: $white;
  }

  .small_heading {
    font-size: 30px;
    font-weight: 700;
    color: $dark;

    a {
      color: $dark;
      text-decoration: none;
    }
  }

  .text {
    font-size: 13px;
    font-weight: 400;
    color: $dark;
  }

  .error {
    color: $danger;
    font-weight: 500;
    font-size: 14px !important;
  }

  .login_back {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: $My-gradient;
    text-align: center;

    .light_logo {
      width: 272px;
      margin-bottom: 30px;
    }

    .login_card {
      border-radius: 10px;
      background: $white;
      padding: 72px;
      width: 480px;
      text-align: center;

      small {
        font-size: 12px;
        color: red;
        margin-top: 18px !important;
      }

      a {
        text-decoration: none;
      }

      form {
        width: 100%;
        text-align: left;

        label {
          font-size: 13px;
          font-weight: 600;
          line-height: 15px;
          letter-spacing: 0em;
          margin-top: 18px;
          margin-bottom: 8px;
        }

        input[type="text"] {
          width: 100%;
          padding: 10px;
          border: 1px solid #bbbbbb;
          border-radius: 10px;
        }

        input[type="email"] {
          width: 100%;
          padding: 10px;
          border: 1px solid #bbbbbb;
          border-radius: 10px;
        }

        input[type="password"] {
          width: 100%;
          padding: 10px;
          border: 1px solid #bbbbbb;
          border-radius: 10px;
        }

        .submit {
          background: $My-gradient;
          color: $white;
          margin-top: 30px;
          border: none;
          padding: 14px;
          width: 100%;
          border-radius: 10px;
        }

        .end-text {
          color: $pink;
          font-size: 13px;
          font-weight: 600;
          margin-bottom: 0;
          margin-top: 12px;
        }

        /* The mark-container */
        .mark-container {
          font-family: "Raleway", sans-serif;
          font-size: 13px;
          font-weight: 600;
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          padding-top: 5px;
        }

        /* Hide the browser's default checkbox */
        .mark-container input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 25px;
          width: 25px;
          border-radius: 6px;
          border: 1px solid #bbb;
        }

        .mark-container:hover input~.checkmark {
          background-color: #ccc;
        }

        .mark-container input:checked~.checkmark {
          background-color: $pink;
        }

        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        .mark-container input:checked~.checkmark:after {
          display: block;
        }

        .mark-container .checkmark:after {
          left: 9px;
          top: 5px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }

  /* dashboard sidebar css */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 16%;
    padding: 30px 20px;
    background-color: $purple;
    left: 0;
    height: 100vh;
    float: left;

    .dash-logo {
      width: auto;
      margin-bottom: 18px;
    }

    .sidenav {
      padding-bottom: 30px;
      border-bottom: 1px solid #65006b;

      ul {
        padding-left: 0;

        .active {
          background-image: $My-gradient;
        }

        li {
          list-style-type: none;
          padding: 12px 20px;
          width: 100%;
          color: $white;
          font-size: 15px;
          font-weight: 500;
          border-radius: 10px;
          margin: 14px 0;
          cursor: pointer;
          transition: all .2s ease-in-out;

          svg {
            width: 20px;
            margin-right: 8px;
          }

          &:hover {
            background-color: #462348;
            transition: all .2s ease-in-out;
          }
        }
      }
    }

    .user-detail {
      color: $white;
      padding: 30px 20px;

      img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        margin-right: 14px;
      }

      p {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
      }

      span {
        font-size: 12px;
        font-weight: 300;
      }
    }
  }

  .dash-content-side {
    position: absolute;
    top: 0;
    right: 0;
    width: 84%;
    right: 0;
    min-height: 100vh;
    background-color: #f4f4f4;
    float: left;
    padding: 30px 120px 30px 80px;

    .sticky-bell {
      position: fixed;
      top: 8%;
      right: 6%;
      cursor: pointer;
      padding: 14px;
      border-radius: 50%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      background-color: $white;
      z-index: 1000
    }

    .bell-icon {
      .notification-count {
        position: absolute;
        top: -3px;
        right: -6px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #fe6a6a;
        color: $white;
        text-align: center;
      }
    }
  }

  .sidenav .sidebar_list {
    color: $white  !important;
    text-decoration: none !important;
    display: flex;
  }

  // profile-update-tab
  .profile-update-tab {
    padding: 0 !important;
    /* position: fixed; */
    overflow: hidden;


    .tab-pane {
      margin: 30px 100px;
    }
  }

  .setting-tab {
    .sml-heading {
      margin-top: 30px;
      font-size: 16px !important;
      color: $dark  !important;
      font-weight: 700 !important;
      margin-bottom: 0;
    }

    #v-pills-tab {
      width: 25%;
    }

    #v-pills-tabContent {
      width: 75%;
    }

    .sidenav-title {
      font-size: 12px;
      font-weight: 700;
      color: #a5a5a5;
      margin-top: 30px;
      padding: 10px 40px;
    }

    .verti {
      background-color: $white;
      height: 100vh;
    }

    .nav-pills .nav-link {
      text-align: left;
      padding: 10px 40px;
      transition: .4s ease-in-out;

      &:hover {
        transition: .4s ease-in-out;
        background-color: #f8f8f8;
      }
    }

    .nav-pills .nav-link.active {
      color: #ff6a6a;
      background-color: #f6f0f6;
    }

    .nav-link {
      color: $dark;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 3px transparent;
      font-size: 15px;
      font-weight: 500;

      &:hover {
        color: $dark;
        border: none;
      }
    }

    .nav-tabs {
      border-bottom: none;
    }

    .nav-tabs .nav-link.active {
      color: $dark;
      border-bottom: 3px solid $purple;
      background-color: transparent !important;
      border-right: none;
      border-left: none;
      border-top: none;
    }

    .setting-tab-content {

      .accordion-button:not(.collapsed) {
        color: #ff6a6a !important;
        background-color: #fff1f1;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
      }

      .tele-btn {
        margin-top: 20px;

        button {
          font-size: 12px;
          font-weight: 500;
          color: $danger;
          border: 1px solid $danger;
          padding: 10px;
          border-radius: 15px;
          background-color: $white;

          svg {
            width: 14px;
          }
        }
      }

      margin-top: 30px;
      padding: 20px 40px;
      border-radius: 20px;
      background-color: $white;

      .ant-upload {
        width: 100% !important;
        height: 50px !important;
      }

      .myantd-btn {
        color: #8f8f8f;
        font-size: 10px;
      }

      .ant-upload {
        width: 100% !important;
      }

      p {
        font-size: 16px;
        font-weight: 400;
      }

      a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;

        &:hover {
          color: $white;
        }
      }

      form {
        h6 {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 14px;
        }

        label {
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 10px;
          margin-top: 20px;
        }

        input {
          width: 100%;
          padding: 6px;
          border: 1px solid #C9C9C9;
          border-radius: 5px;
        }

        span {
          font-size: 17px;
          font-weight: 500;
        }

        p {
          font-size: 12px;
          font-weight: 300;
          color: #989898;
        }

        textarea {
          padding: 12px;
          border: 1px solid $dark;
          border-radius: 10px;
          width: 100%;
          min-height: 280px;
        }

        input[type="color"] {
          height: 56px;
        }
      }
    }
  }

  .form-submit {
    background: $My-gradient;
    color: $white;
    margin-top: 30px;
    border: none !important;
    padding: 14px 64px !important;
    border-radius: 10px;
    width: unset !important;
  }

  .maroon-btn {
    padding: 14px 30px;
    background-color: #c20000;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    color: $white;
  }

  .stats-page-title {
    font-size: 17px;
    font-weight: 500;
    color: $dark;
    margin-bottom: 30px;

    &::before {
      content: "";
      margin-right: 10px;
      border-radius: 2px;
      border: 5px solid $purple;
    }
  }

  .content-upload-popup .modal-header {
    padding: 36px 57px 0 57px !important;
  }

  .content-upload-popup .stats-page-title {
    margin-bottom: 0 !important;
  }

  .stats-count {
    border-radius: 10px;
    background-color: #eee;

    .total-subs {
      background-color: #eee;
      padding: 10px;
      border-radius: 10px;

      .ts-left {
        position: relative;
        padding: 18px 60px 18px 14px;
        border-radius: 10px;
        background-color: transparent;
        cursor: pointer;
        //width: 48%;

        .count-up {
          color: #4FB665;
          background-color: #CEFFC6;
          font-size: 8px;
          border-radius: 20px;
          padding: 4px 10px;
          position: absolute;
          top: 4px;
          right: 4px;
        }
      }

      .ts-right {
        //width: 48%;
        padding: 18px 96px 18px 14px;
        position: relative;
        border-radius: 10px;
        cursor: pointer;

        .count-fall {
          color: #fe6a6a;
          background-color: #ffdede;
          font-size: 8px;
          border-radius: 20px;
          padding: 4px 10px;
          position: absolute;
          top: 4px;
          right: 4px;
        }
      }
    }
  }

  /* custom checkbox for change graph */
  .change_graph  {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }

  /* Hide the browser's default checkbox */
  .change_graph  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* When the checkbox is checked, add a blue background */
  .change_graph input:checked~.change_graph_control {
    background-color: $white;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .change_graph_control:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .change_graph input:checked~.change_graph_control:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .change_graph .change_graph_control:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  //////////////////////////////////



  .ts-icon {
    margin-top: 7px;

    span {
      padding: 6px 7px;
      border-radius: 50%;
      background-color: #ff6a6a;
      margin-right: 12px;
    }
  }

  .ts-text {
    p {
      margin-bottom: 6px;
      font-size: 14px;
      font-weight: 500;
      color: #787878;
    }

    h4 {
      margin-bottom: 0;
      font-size: 28px;
      font-weight: 500;
    }
  }

  .purple-icon {
    background-color: $purple  !important;
  }

  table {
    width: 100%;

    td {
      vertical-align: middle;
      padding: 18px 0 !important;
      font-size: 14px;
      font-weight: 500;
    }

    .icon_setting {
      cursor: pointer;
    }
  }

  .subscriber-search {
    padding: 8px 20px;
    border: 1px solid #a4a4a4;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 100%;
  }

  .crossx{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 9px;
    font-weight: 700;
  }

  .table-header-active {
    padding: 8px 12px;
    background-color: #FE6A6A;
    color: $white;
    font-size: 14px;
    border-radius: 10px;
    border: none;

    &::before {
      background-color: $white;
      border: 1px solid #a4a4a4;
      color: $dark;
    }
  }

  .table-header-inactive {
    padding: 7px 12px;
    background-color: $white;
    color: $dark;
    font-size: 14px;
    border: 1px solid #a4a4a4;
    border-radius: 10px;

    &:hover {
      background-color: #FE6A6A;
      color: $white;
    }
  }

  .export-subscribers-btn {
    margin-bottom: 30px;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #A4A4A4;
    border-radius: 10px;
    background-color: transparent;
  }

  .modal-modal-size {
    max-width: 609px;

    .chose-btn-export {
      margin-top: 20px;
      width: 100%;
      padding: 10px 20px;
      border-radius: 10px;
      background-image: $My-gradient;
      color: $white;
      font-size: 16px;
      font-weight: 500;
      border: none;
    }
  }

  .export-subs-body {
    padding: 35px !important;

    .custom-export-select {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

    }

    /* Hide the browser's default checkbox */
    .custom-export-select input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .file-icon {
      width: 215px;
      height: 75px;
      border: 2px solid #999;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 8px;

      img {
        background-color: #D9D9D9;
        border-radius: 3px;
        margin-right: 6px;
      }
    }


    /* When the checkbox is checked, add a blue background */
    .custom-export-select input:checked~.file-icon {
      border: 2px solid $pink;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .file-icon:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .custom-export-select input:checked~.file-icon:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .custom-export-select .file-icon:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .subs-table-row {
    p {
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 600;
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 15px;
      margin-left: 15px;
    }

    span {
      font-size: 15px;
      font-weight: 500;
      color: #959595;
    }
  }

  .video-thumb-sec {
    width: 112px;
    height: 74px;
    border-radius: 10px;
    background-color: #c4c4c4;
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
      margin-left: 0;
      margin-right: 0;
      border-radius: 10px;
    }
  }

  .content-upload-btns-back {
    position: relative;
    text-align: center;
    width: 26%;
    background: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    input[type="file"] {
      opacity: 0;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 48px;
      cursor: pointer;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      padding: 30px 0 24px 0;
      margin-bottom: 0;

      svg {
        margin-right: 8px;
        width: 30px;
      }
    }

    &:hover .content-upload-btn {
      transition: .4s ease-in-out;
      background-color: #900099;
    }
  }

  .content-upload-btn {
    width: 100%;
    padding: 12px 36px;
    text-align: center;
    color: $white;
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #65006B;
    font-size: 16px;
    font-weight: 500;
    transition: .4s ease-in-out;

    svg {
      margin-right: 8px;
    }

    &:hover {
      background-color: #900099;
      transition: .4s ease-in-out;
    }
  }

  .modal-content {
    border-radius: 16px !important;
    border: none;
  }

  .modal-header {
    border: none !important;
  }

  .content-sub-btns {
    margin-top: 30px;
    border: none !important;
    background-image: $My-gradient;
    color: $white  !important;
    font-size: 16px !important;
  }

  .content-first-row-gap {
    margin-top: 120px !important;
    margin-bottom: 10px;
  }

  .dash-dragger .ant-upload-drag {
    padding: 40px 20px;
    border: 2px dotted $white;
    border-radius: 10px;

    svg {
      display: none;
    }
  }

  .content-next-table {
    border: none;
    background-color: #fe6a6a !important;
    color: $white  !important;
    border-radius: 10px !important;

    &:hover {
      background-color: #fe6a6a !important;
      color: $white  !important;
    }
  }

  .pagination {
    .page-link {
      font-size: 14px;
      color: $dark;
      background-color: #e4e4e4;
      border: none;
      padding: 10px 20px;
      border-radius: 10px;
      margin: 0 8px;
      font-weight: 700;
    }

    .disabled {
      pointer-events: none;
      cursor: not-allowed;
    }

    .page-item.active .page-link {
      z-index: 3;
      color: $white  !important;
      background-color: $grey;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }

    .selected {
      background-color: $purple  !important;
    }
  }

  .page-item:first-child .page-link {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .page-item:last-child .page-link {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .video-submit-model {
    padding: 20px 40px;

    h5 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
      color: $dark;
    }

    form {
      input {
        width: 100%;
        border: 1px solid #c7c7c7;
        border-radius: 10px;
        padding: 14px;
        color: #000000;
        font-size: 12px;
        font-weight: 300;
      }

      textarea {
        width: 100%;
        border: 1px solid #c7c7c7;
        border-radius: 10px;
        padding: 14px;
        color: #000000;
        font-size: 12px;
        font-weight: 300;
      }

      label {
        font-size: 16px;
        font-weight: 500;
        color: $dark;
      }

      .form-submit {
        border: none;
        color: $white;
        font-size: 16px;
        font-weight: 500;
      }

      p {
        font-size: 11px;
        font-weight: 300;
        color: #535353;
      }
    }

    .stats-page-title::before {
      border: 5px solid $purple  !important;
    }

    .ant-upload-drag {
      width: 52%;
      border: 1px dotted #535353;
      border-radius: 10px;
      padding: 10px;

      .ant-upload-drag-icon {
        display: none;
      }
    }

    .sbmit-right {
      margin-top: 32px;
    }
  }

  /* custom switch for video comment on off */
  .custom-comment-switch {
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 24px;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      color: $white;
      height: 41px;
      width: 34px;
      left: 0;
      bottom: -8px;
      background-color: $purple;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .ja {
      color: #cccccc;
      z-index: 99999999 !important;
      position: absolute;
      top: 2px;
      left: 12px;
      font-size: 12px;
      font-weight: 500;
    }

    .nee {
      color: #cccccc;
      z-index: 99999999 !important;
      position: absolute;
      top: 2px;
      right: 4px;
      font-size: 12px;
      font-weight: 500;
    }

    input:checked+.slider {
      background-color: #ccc;
    }

    input:focus+.slider {
      box-shadow: 0 0 1px $purple;
    }

    input:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 10px;
    }
  }

  .subs-page {
    background-color: $white;
    margin-top: 110px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    table td {
      padding: 30px 0 !important;
    }
  }

  .user-welcome {
    p {
      font-size: 22px;
      font-weight: 500;
      color: $dark;
    }

    h1 {
      font-size: 45px;
      font-weight: 700;
      color: $dark;
    }
  }

  .dashb {
    .setting-tab-content {
      padding: 30px;
    }
  }

  .dash-calender-btn {
    color: #65006B;
    padding: 8px 18px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-color: transparent;
  }

  .dash-card {
    padding: 20px;
    border-radius: 15px;

    h2 {
      color: $white;
      font-size: 42px;
      font-weight: 600;
    }

    p {
      font-size: 15px;
      font-weight: 400;
      color: $white;
    }

    svg {
      width: 50px;
    }
  }

  .dc-one {
    background-color: #FF6A6A;
  }

  .dc-two {
    background-color: #65006B;
  }

  .dc-three {
    background-color: #320035;
  }

  .video-stats {
    margin: 10px 0;

    .vs-icon {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 20px;
    }

    .vs-one {
      background-color: #65006B;
    }

    .vs-two {
      background-color: #FF2525;
    }

    .vs-three {
      background-color: #0049D6;
    }

    small {
      font-size: 11px;
      font-weight: 500;
      margin-bottom: 2px;
    }

    h6 {
      font-size: 27px;
      font-weight: 500;
      color: $dark;
      margin-bottom: 0;
    }
  }

  .support-banner {
    padding: 40px 60px;
    border-radius: 15px;
    background-color: $white;

    h2 {
      font-size: 20px;
      font-weight: 700;
      color: $dark;
      line-height: 28px;

      span {
        font-weight: 500 !important;
      }
    }
  }

  .colored-btn {
    a {
      padding: 13px 30px;
      color: $white;
      background-image: $My-gradient;
      border-radius: 12px;
      font-size: 12px;
      &:hover{
        color: $white;
      }
    }
  }

  .light-btn {
    a {
      padding: 12px 30px;
      border: 1px solid #787878;
      color: #787878;
      border-radius: 12px;
      font-size: 12px;
      &:hover{
        color: #787878;
      }
    }
  }

  .active-one {
    margin-left: 35px;
    padding: 5px 18px;
    border-radius: 8px;
    background-color: #A6F2B2;
    font-size: 10px;
    font-weight: 400;
    border: none;
  }

  .inactive-one {
    margin-left: 35px;
    padding: 5px 13px;
    border-radius: 8px;
    background-color: #FFCCCC;
    font-size: 10px;
    font-weight: 400;
    border: none;
  }

  .dash-bottom-one {
    margin-top: 20px;

    h2 {
      font-size: 52px;
      font-weight: 600;
      color: $purple
    }

    p {
      font-size: 14px;
      font-weight: 400;
      color: #808191;

      span {
        color: #FE6A6A;
      }
    }
  }

  .web-btn {
    margin-top: 30px;

    a {
      font-size: 16px;
      font-weight: 500;
      color: $white;
      background-image: $My-gradient;
      padding: 14px 28px;
      text-decoration: none;
      border-radius: 10px;

      &:hover {
        color: $white;
      }
    }
  }

  .dash-latest-comment {
    margin-top: 20px;

    ul {
      padding-left: 0;

      li {
        list-style-type: none;
        margin: 22px 0;

        .notif-img {
          width: 18%;

          img {
            width: 39px;
            height: 39px;
            border-radius: 50%;
            margin-right: 10px;
          }
        }

        .notif-content {
          width: 82%;

          h6 {
            font-size: 13px;
            font-weight: 600;
            color: $dark;
            margin-bottom: 6px;
          }

          span {
            font-size: 10px;
            font-weight: 400;
            color: #808080;
          }

          p {
            font-size: 12px;
            font-weight: 400;
            color: $dark;
            margin-bottom: 0;

            span {
              color: $pink;
            }
          }
        }
      }
    }
  }

  .financial-data {
    p {
      color: #159800;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 4px;
    }

    span {
      color: #959595;
      font-size: 500;
      font-size: 15px;
    }
  }

  .td-long {
    width: 50%;
  }

  .page-direc {
    margin-top: 40px;
    padding: 14px;
    background-image: $My-gradient;
    border-radius: 10px;
    width: 100%;
    color: $white;
  }

  .connected_account{
    min-height: 192px;
    color: $dark;
    h6{
      font-size: 20px;
      font-weight: 700;
      margin: 0;
    }
    small{
      font-size: 14px;
      font-weight: 500;
    }
    .payee{
      font-size: 16px;
      font-weight: 500;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  text.highcharts-title {
    display: none !important;
  }

  .highcharts-credits {
    display: none !important;
  }

  g.highcharts-legend-item {
    display: none;
  }

  .dropdown-menu {
    padding: 20px !important;

    .notif-content {
      margin-left: 8px;
    }
  }

  .my-noti {
    min-height: unset !important;
  }

  .react-tabs__tab-list {
    border-bottom: none !important;
    font-size: 18px !important;
    font-weight: 500 !important;
  }

  .react-tabs__tab--selected {
    color: $dark;
    border-bottom: 3px solid $purple  !important;
    background-color: transparent !important;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
  }

  .react-tabs__tab:focus:after {
    background: transparent !important;
  }

  .logout-btn {
    margin: 8px 20px;
    cursor: pointer;

    p {
      color: $white;
      margin-bottom: 0;
      font-size: 12px;
    }
  }

  .chart-keypoint {
    margin-bottom: 16px;

    p {
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 500;
      color: #787878;
      margin-right: 20px;
    }

    .purp-dot {
      &::before {
        content: '';
        border-left: 10px solid $purple;
        border-right: 8px solid $purple;
        margin-right: 6px;
        border-radius: 50%;
      }
    }

    .pink-dot {
      &::before {
        content: '';
        border-left: 10px solid #FE6A6A;
        border-right: 8px solid #FE6A6A;
        margin-right: 6px;
        border-radius: 50%;
      }
    }
  }

  .modal-button {
    gap: 20px;
  }

  .loading {
    height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid #ccc;
    border-right-color: #888;
    border-radius: 22px;
    animation: rotate 1s infinite linear;
    /* left, top and position just for the demo! */
    position: absolute;
    left: 50%;
    top: 50%;
  }

  @keyframes rotate {

    /* 100% keyframe for  clockwise. 
      use 0% instead for anticlockwise */
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @media only screen and (min-width: 1800px) {
    .dash-content-side {
      padding: 30px 240px 30px 140px;
    }
  }

  .custom-modal {
    .modal-dialog {
      .modal-content {
        padding: 20px !important;

        .stats-page-title {
          margin-bottom: 0;
        }
      }

      .page-direc {
        margin-top: 0;
        border: none;
        color: $white;
      }

      .export-subscribers-btn {
        margin-bottom: 0 !important;
      }

      .modal-button {
        padding-left: 0 !important;
        padding-right: 0 !important;

        button {
          width: 50%;
        }
      }
    }
  }



  .rply {
      background-color: #cfcfcf !important;
  }

  /* video component */
  .creator-video {
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    background: $white;
    cursor: pointer;

    .creator-nm-detail {
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      p {
        font-size: 16px;
        font-weight: 500;
      }
    }

    .comments-count {
      font-size: 12px;
      font-weight: 600;
      color: $sub-pink;
      margin-top: 20px;
      transition: .25s;
      cursor: pointer;
    }

    .collapsed {
      color: #999 !important;
    }
  }

  .single-video {
    margin-top: 20px;
    width: 100%;
    height: 360px;
    overflow: hidden;

    img {
      border-radius: 20px;
    }

    .react-player__preview {
      border-radius: 20px;
    }
  }

  .notification-box {
    border-radius: 20px;
    background: $white;
  }

  .video-title {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 700;
    color: $dark;
  }

  .comment_edit_delete {
    z-index: 9999 !important;
    padding: 6px !important;
    min-width: 7rem !important;

    li {
      margin: 4px 0 !important;

      button {
        font-size: 12px;
        font-weight: 400;
        color: $dark;

        svg {
          width: 11px;
          margin-right: 4px;
        }
      }
    }
  }

  .video-desc {
    font-size: 12px;
    font-weight: 300;
    color: #3d3d3d;
  }

  .side-sm-vdo .video-desc {
    overflow: hidden;
    max-width: 100ch;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dash-latest-comment {
    margin-top: 20px;

    ul {
      padding-left: 0;

      li {
        list-style-type: none;
        margin: 22px 0;

        .notif-img {
          width: 8%;
          position: relative;
          margin-right: 10px;

          img {
            width: 39px;
            height: 39px;
            border-radius: 50%;
          }

          .notification-alert {
            position: absolute;
            top: -4px;
            right: -5px;

            span {
              width: 16px;
              height: 16px;
              border-radius: 50%;
            }

            .blue {
              background-color: #00B2FF;
            }

            .red {
              background-color: #F50000;
            }
          }
        }

        .notif-content {
          width: 82%;

          h6 {
            font-size: 13px;
            font-weight: 600;
            color: $dark;
            margin-bottom: 0;
          }

          span {
            font-size: 10px;
            font-weight: 400;
            color: #808080;
          }

          p {
            font-size: 12px;
            font-weight: 400;
            color: $dark;
            margin-bottom: 0;
            height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;

            span {
              color: $pink;
            }
          }
        }
      }
    }
  }

  .video-like-btn {
    margin-top: 15px;

    /* button {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid #adadad;
      margin-right: 10px;
      background-color: $white;
      transition: .5s;
  
      &:hover {
        background-color: $white;
        border-color: $sub-pink;
        transition: .25s;
      }
  
      &:hover path {
        fill: $sub-pink;
        transition: .25s;
      }
    } */

    button {
      border: none;
      background-color: $white;

      svg {
        width: 28px;
        height: 28px;
        padding: 4px;
        border: 1px solid #adadad;
        margin-right: 10px;
        border-radius: 50%;
        transition: .4s ease-in-out;

        &:hover {
          transition: .4s ease-in-out;
          border: 1px solid $sub-pink;
        }

        &:hover path {
          fill: $sub-pink;
          transition: .25s ease-in-out;
        }

      }

      .after-like {
        border: 1px solid $sub-pink;
      }
    }


    p {
      font-size: 12px;
      font-weight: 600;
      color: #adadad;
      margin-bottom: 0;
    }
  }

  .comment-box {
    background-color: $sub-pink;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;

    img {
      width: 28px;
      height: 28px;
      margin-right: 14px;
    }

    form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      ::placeholder {
        color: $white;
      }

      input {
        border: none;
        background-color: transparent;
        color: $white  !important;
        font-size: 12px;
        font-weight: 500;
        width: 100%;
        outline: none;
      }

      button {
        border: none;
        background-color: transparent;
      }
    }
  }

  .small-vdeo {
    padding: 20px;
    border-radius: 15px;
    background-color: $white;

    video {
      width: 100%;
    }
  }

  .feed-img {
    width: 100%;
  }

  /* .comment-sec {
    height: 300px;
    overflow-y: scroll;
  } */
  .comment_edit_delete {
    transform: translate(-106px, 24px) !important;
  }

  /* profile pic change */
  .profile-upload{
    height: 58px;
    display: flex;
    justify-content: start;
    align-items: center;    
    .pf-outer {
      width: 60px;
      height: 60px;
      padding: 2px;
      border: 1px solid #c7c7c7;
      border-radius: 50%;
      background: transparent;
      img{      
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .fr_up{
      position: relative;
      span{
        padding: 5px 16px;
        border: 1px solid #C9C9C9;
        border-radius: 5px;
        font-size: 13px !important;
        cursor: pointer;
      }
      input{
        width: 100px !important;
        height: 30px;
        opacity: 0;
        z-index: 999;
        cursor: pointer;
        position: absolute;
        top: 0;
      }
    }    
    .cancel{
      font-size: 13px;
      background: transparent;
      color: #000 !important;
      font-weight: 400 !important;
      cursor: pointer;
      margin-bottom: 0;
    }
  }