@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap");
a {
  color: inherit;
  text-underline-position: none;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}
* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

$white: #fff;
$dark: #000;
$pink: #c205a3;
$purple: #320035;
$My-gradient: linear-gradient(87.39deg, #bf00a5 0%, #ff6a6a 100%);

.small_heading {
  font-size: 30px;
  font-weight: 700;
  color: $dark;
  a{
      color: $dark;
      text-decoration: none;
  }
}
.text {
  font-size: 13px;
  font-weight: 400;
  color: $dark;
}

.login_back {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: $My-gradient;
  text-align: center;
  .light_logo {
    width: 272px;
    margin-bottom: 30px;
  }
  .login_card {
    border-radius: 10px;
    background: $white;
    padding: 72px;
    width: 480px;
    text-align: center;
    form {
      width: 100%;
      text-align: left;
      label {
        font-size: 13px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0em;
        margin-top: 18px;
        margin-bottom: 8px;
      }
      input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #bbbbbb;
        border-radius: 10px;
      }
      input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #bbbbbb;
        border-radius: 10px;
      }
      .submit {
        background: $My-gradient;
        color: $white;
        margin-top: 30px;
        border: none;
        padding: 14px;
        width: 100%;
        border-radius: 10px;
      }
      .end-text {
        color: $pink;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 12px;
      }
      /* The mark-container */
      .mark-container {
        font-family: "Raleway", sans-serif;
        font-size: 13px;
        font-weight: 600;
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-top: 5px;
      }
      /* Hide the browser's default checkbox */
      .mark-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border-radius: 6px;
        border: 1px solid #bbb;
      }
      .mark-container:hover input ~ .checkmark {
        background-color: #ccc;
      }
      .mark-container input:checked ~ .checkmark {
        background-color: $pink;
      }
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      .mark-container input:checked ~ .checkmark:after {
        display: block;
      }
      .mark-container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}
/* dashboard sidebar css */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 16%;
  padding: 30px 20px;
  background-color: $purple;
  left: 0;
  height: 100vh;
  float: left;
  .dash-logo {
    width: auto;
    margin-bottom: 18px;
  }
  .sidenav {
    padding-bottom: 30px;
    border-bottom: 1px solid #65006b;
    ul {
      padding-left: 0;
      .active {
        background-image: $My-gradient;
      }
      li {
        list-style-type: none;
        padding: 12px 20px;
        width: 100%;
        color: $white;
        font-size: 15px;
        font-weight: 500;
        border-radius: 10px;
        margin: 14px 0;
        cursor: pointer;
        svg {
          margin-right: 8px;
        }
      }
    }
  }
  .user-detail {
    color: $white;
    padding: 30px 20px;
    img {
      width: 42px;
      border-radius: 50%;
      margin-right: 14px;
    }
    p {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0;
    }
    span {
      font-size: 12px;
      font-weight: 300;
    }
  }
}
.dash-content-side {
  position: absolute;
  top: 0;
  right: 0;
  width: 84%;
  right: 0;
  min-height: 100vh;
  background-color: #f4f4f4;
  float: left;
  padding: 30px 120px 30px 80px;
  .sticky-bell {
    position: fixed;
    top: 8%;
    right: 6%;
    cursor: pointer;
    padding: 14px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: $white;
    z-index:1000
  }
  .bell-icon {
    .notification-count {
      position: absolute;
      top: -3px;
      right: -6px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #fe6a6a;
      color: $white;
      text-align: center;
    }
  }
}
.sidenav .sidebar_list{
    color: $white !important;
    text-decoration: none !important;
    display: flex;
}
.setting-tab {
  .nav-link {
    color: $dark;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px transparent;
    font-size: 18px;
    font-weight: 500;
    &:hover{
        color: $dark;
        border: none;
    }
  }
  .nav-tabs {
    border-bottom: none;
  }
  .nav-tabs .nav-link.active {
    color: $dark;
    border-bottom: 3px solid $purple;
    background-color: transparent !important;
    border-right: none;
    border-left: none;
    border-top: none;
  }
  .setting-tab-content {
    margin-top: 30px;
    padding: 70px 40px;
    border-radius: 20px;
    background-color: $white;
    p{
      font-size: 16px;
      font-weight: 400;
    }
    a{
      color: $white;
      text-decoration: none;
      font-size: 15px;
      font-weight: 500;
      &:hover{
        color: $white;
      }
    }
    form {
      h6 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 14px;
      }
      label {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 20px;
      }
      input {
        width: 100%;
        padding: 12px;
        border: 1px solid $pink;
        border-radius: 10px;
      }
      span {
        font-size: 17px;
        font-weight: 500;
      }
      p {
        font-size: 12px;
        font-weight: 300;
        color: #989898;
      }
      textarea {
        padding: 12px;
        border: 1px solid $pink;
        border-radius: 10px;
        width: 100%;
        min-height: 290px;
      }
      input[type="color"] {
        height: 56px;
      }
    }
  }
}
.form-submit {
  background: $My-gradient;
  color: $white;
  margin-top: 30px;
  border: none;
  padding: 14px;
  border-radius: 10px;
  width: unset;
}
.maroon-btn {
  padding: 14px 30px;
  background-color: #c20000;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  color: $white;
}
.stats-page-title {
  font-size: 17px;
  font-weight: 500;
  color: $dark;
  margin-bottom: 30px;
  &::before {
    content: "";
    margin-right: 10px;
    border-radius: 2px;
    border: 5px solid $purple;
  }
}

.stats-count {
  border-radius: 10px;
  background-color: #eee;
  .total-subs {
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
    .ts-left {
      position: relative;
      padding: 18px 14px;
      border-radius: 10px;
      background-color: $white;
      width: 48%;
      .count-up{
        color: #4FB665;
        background-color: #CEFFC6;
        font-size: 8px;
        border-radius: 20px;
        padding: 4px 10px;
        position: absolute;
        top: 4px;
        right: 4px;
      }
    }
    .ts-right {
      width: 48%;
      padding: 18px 14px;
      position: relative;
      .count-fall {
        color: #fe6a6a;
        background-color: #ffdede;
        font-size: 8px;
        border-radius: 20px;
        padding: 4px 10px;
        position: absolute;
        top: 4px;
        right: 4px;
      }
    }
  }
}
.ts-icon {
  margin-top: 7px;
  span {
    padding: 6px 7px;
    border-radius: 50%;
    background-color: #ff6a6a;
    margin-right: 12px;
  }
}
.ts-text {
  p {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #787878;
  }
  h4 {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 500;
  }
}
.purple-icon {
  background-color: $purple !important;
}
table {
  width: 100%;
  td {
    vertical-align: middle;
    padding: 18px 0 !important;
    font-size: 14px;
    font-weight: 500;
  }
}
.subs-table-row {
  p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
  }
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 15px;
  }
  span {
    font-size: 15px;
    font-weight: 500;
    color: #959595;
  }
}
.video-thumb-sec {
  width: 112px;
  height: 74px;
  border-radius: 10px;
  background-color: #c4c4c4;
  margin-right: 20px;
}
.content-upload-btn{
  width: 100%;
  padding: 12px 36px;
  text-align: center;
  color: $white;
  border: none;
  border-radius: 10px;
  background-color: #65006B;
  font-size: 18px;
  font-weight: 500;
  svg{
    margin-right: 8px;
  }
}
.modal-content {
  border-radius: 16px !important;
  border: none;
}
.content-sub-btns{
  margin-top: 30px;
  border: none !important;
  background-image: $My-gradient;
  color: $white !important;
  font-size: 16px !important;
}
.content-first-row-gap{
  margin-top: 120px !important;
  margin-bottom: 10px;
}
.dash-dragger .ant-upload-drag {
  padding: 40px 20px;
  border: 2px dotted $white;
  border-radius: 10px;
  svg {
    display: none;
  }
}
.content-next-table {
  border: none;
  background-color: #fe6a6a !important;
  color: $white !important;
  border-radius: 10px !important;
  &:hover {
    background-color: #fe6a6a !important;
    color: $white !important;
  }
}
.pagination {
  .page-link {
    font-size: 14px;
    color: $dark;
    background-color: #e4e4e4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 8px;
    font-weight: 700;
  }
  .page-item.active .page-link {
    z-index: 3;
    color: $white !important;
    background-color: $purple;
    border: none;
    border-radius: 10px;
  }
}
.page-item:first-child .page-link {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.page-item:last-child .page-link {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.video-submit-model {
  padding: 20px 40px;
  h5 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $dark;
  }
  form {
    input {
      width: 100%;
      border: 1px solid #c7c7c7;
      border-radius: 10px;
      padding: 14px;
      color: #c7c7c7;
      margin-bottom: 18px;
      font-size: 12px;
      font-weight: 300;
    }
    textarea {
      width: 100%;
      border: 1px solid #c7c7c7;
      border-radius: 10px;
      padding: 14px;
      color: #c7c7c7;
      font-size: 12px;
      font-weight: 300;
    }
    label {
      font-size: 16px;
      font-weight: 500;
      color: $dark;
    }
    .form-submit {
      border: none;
      color: $white;
      font-size: 16px;
      font-weight: 500;
    }
    p {
      font-size: 11px;
      font-weight: 300;
      color: #535353;
    }
  }
  .stats-page-title::before {
    border: 5px solid $purple !important;
  }
  .ant-upload-drag {
    width: 52%;
    border: 1px dotted #535353;
    border-radius: 10px;
    padding: 10px;
    .ant-upload-drag-icon {
      display: none;
    }
  }
  .sbmit-right {
    margin-top: 32px;
  }
}
/* custom switch for video comment on off */
.custom-comment-switch {
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 24px;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    color: $white;
    height: 41px;
    width: 34px;
    left: 0;
    bottom: -8px;
    background-color: $purple;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .ja {
    color: #cccccc;
    z-index: 99999999 !important;
    position: absolute;
    top: 2px;
    left: 12px;
    font-size: 12px;
    font-weight: 500;
  }

  .nee {
    color: #cccccc;
    z-index: 99999999 !important;
    position: absolute;
    top: 2px;
    right: 4px;
    font-size: 12px;
    font-weight: 500;
  }

  input:checked + .slider {
    background-color: #ccc;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $purple;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 10px;
  }
}
.subs-page {
  margin-top: 110px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  table td {
    padding: 30px 0 !important;
  }
}
.user-welcome{
  p{
    font-size: 22px;
    font-weight: 500;
    color: $dark;
  }
  h1{
    font-size: 45px;
    font-weight: 700;
    color: $dark;    
  }
}
.dashb{
  .setting-tab-content{
    padding: 30px;
  }
}
.dash-bottom-one{
  margin-top: 20px;
  h2{
    font-size: 52px;
    font-weight: 600;
    color: $purple
  }
  p{
    font-size: 14px;
    font-weight: 400;
    color: #808191;
    span{
      color: #FE6A6A;
    }
  }
}
.web-btn{
  margin-top: 30px;
  a{
    font-size: 16px;
    font-weight: 500;
    color: $white;
    background-image: $My-gradient;
    padding: 14px 28px;
    text-decoration: none;
    border-radius: 10px;
    &:hover{
      color: $white;
    }
  }
}
.dash-latest-comment{
  margin-top: 20px;
  ul{
    padding-left: 0;
    li{
      list-style-type: none;
      margin: 22px 0;
      .notif-img {
        width: 18%;
        img{
          width: 39px;
          height: 39px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
      .notif-content{
        width: 82%;
        h6{
          font-size: 13px;
          font-weight: 600;
          color: $dark;
          margin-bottom: 6px;
        }
        span{
          font-size: 10px;
          font-weight: 400;
          color: #808080;
        }
        p{
          font-size: 12px;
          font-weight: 400;
          color: $dark;
          margin-bottom: 0;
          span{
            color: $pink;
          }
        }
      }
    }
  }
}
.financial-data{
  p{
    color: #159800;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
  }
  span{
    color: #959595;
    font-size: 500;
    font-size: 15px;
  }
}
.td-long{
  width: 50%;
}
.page-direc{
  margin-top: 40px;
  padding: 14px;
  background-image: $My-gradient;
  border-radius: 10px;
  width: 100%;
}
text.highcharts-title{
  display: none !important;
}
.highcharts-credits{
  display: none !important;
}
g.highcharts-legend-item{
  display: none;
}
.dropdown-menu{
  padding: 20px !important;
  .notif-content{
    margin-left: 8px;
  }
}
.my-noti{
  min-height: unset !important;
}
.react-tabs__tab-list{
  border-bottom:none !important;
  font-size: 18px !important;
    font-weight: 500 !important;
}
.react-tabs__tab--selected{
  color: $dark;
  border-bottom: 3px solid $purple !important;
  background-color: transparent !important;
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
}
.react-tabs__tab:focus:after{
  background: transparent !important;
}
.logout-btn {
  margin: 8px 20px;
  p{
    color: $white;
    margin-bottom: 0;
    font-size: 12px;
  }
}
.chart-keypoint{
  margin-bottom: 16px;
  p{
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 500;
    color: #787878;
    margin-right: 20px;
  }
  .purp-dot{
    &::before{
      content: '';
      border-left: 10px solid $purple;
      border-right: 8px solid $purple;
      margin-right: 6px;
      border-radius: 50%;
    }
  }
  .pink-dot{
    &::before{
      content: '';
      border-left: 10px solid #FE6A6A;
      border-right: 8px solid #FE6A6A;
      margin-right: 6px;
      border-radius: 50%;
    }
  }
}




@media only screen and (min-width: 1800px) {
  .dash-content-side {
    padding: 30px 240px 30px 140px;
}
}